USE [DBtarea2]
GO
/****** Object:  Index [No_Unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[ProvEqCom] DROP CONSTRAINT [No_Unico]
GO
/****** Object:  Index [Ser_unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[EquipoComputo] DROP CONSTRAINT [Ser_unico]
GO
/****** Object:  Index [Usu_unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Cliente] DROP CONSTRAINT [Usu_unico]
GO
/****** Object:  Index [No_S]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Celulares] DROP CONSTRAINT [No_S]
GO
/****** Object:  Index [Usu_Ad]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Adminsitrador] DROP CONSTRAINT [Usu_Ad]
GO
/****** Object:  Index [No_Ad]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Adminsitrador] DROP CONSTRAINT [No_Ad]
GO
/****** Object:  Table [dbo].[ProvEqCom]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP TABLE [dbo].[ProvEqCom]
GO
/****** Object:  Table [dbo].[EquipoComputo]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP TABLE [dbo].[EquipoComputo]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Celulares]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP TABLE [dbo].[Celulares]
GO
/****** Object:  Table [dbo].[Adminsitrador]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP TABLE [dbo].[Adminsitrador]
GO
USE [master]
GO
/****** Object:  Database [DBtarea2]    Script Date: 26/02/2018 06:08:46 p. m. ******/
DROP DATABASE [DBtarea2]
GO
/****** Object:  Database [DBtarea2]    Script Date: 26/02/2018 06:08:46 p. m. ******/
CREATE DATABASE [DBtarea2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBtarea2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBtarea2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBtarea2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBtarea2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBtarea2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBtarea2]
GO
USE [DBtarea2]
GO
/****** Object:  Table [dbo].[Adminsitrador]    Script Date: 26/02/2018 06:08:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adminsitrador](
	[Id_Adm] [int] IDENTITY(1,1) NOT NULL,
	[NomAdm] [varchar](50) NOT NULL,
	[ApellidoAdm] [varchar](50) NOT NULL,
	[UsuarioAdm] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[NoAdm] [int] NOT NULL,
 CONSTRAINT [Id_A] PRIMARY KEY CLUSTERED 
(
	[Id_Adm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Celulares]    Script Date: 26/02/2018 06:08:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Celulares](
	[Id_Cel] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[NoSerie] [bigint] NOT NULL,
	[CompañiaTel] [varchar](50) NULL,
 CONSTRAINT [Id_C] PRIMARY KEY CLUSTERED 
(
	[Id_Cel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/02/2018 06:08:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_u] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [Id_us] PRIMARY KEY CLUSTERED 
(
	[Id_u] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoComputo]    Script Date: 26/02/2018 06:08:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoComputo](
	[Id_eq] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[NoSerie] [bigint] NOT NULL,
	[Color] [varchar](50) NOT NULL,
 CONSTRAINT [Id_e] PRIMARY KEY CLUSTERED 
(
	[Id_eq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvEqCom]    Script Date: 26/02/2018 06:08:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvEqCom](
	[Id_Prv] [int] IDENTITY(1,1) NOT NULL,
	[NombrePrv] [varchar](50) NOT NULL,
	[NoPrv] [bigint] NOT NULL,
	[NumTelf] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
 CONSTRAINT [Id_P] PRIMARY KEY CLUSTERED 
(
	[Id_Prv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [No_Ad]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Adminsitrador] ADD  CONSTRAINT [No_Ad] UNIQUE NONCLUSTERED 
(
	[NoAdm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Usu_Ad]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Adminsitrador] ADD  CONSTRAINT [Usu_Ad] UNIQUE NONCLUSTERED 
(
	[UsuarioAdm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [No_S]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Celulares] ADD  CONSTRAINT [No_S] UNIQUE NONCLUSTERED 
(
	[NoSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Usu_unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [Usu_unico] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Ser_unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[EquipoComputo] ADD  CONSTRAINT [Ser_unico] UNIQUE NONCLUSTERED 
(
	[NoSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [No_Unico]    Script Date: 26/02/2018 06:08:46 p. m. ******/
ALTER TABLE [dbo].[ProvEqCom] ADD  CONSTRAINT [No_Unico] UNIQUE NONCLUSTERED 
(
	[NoPrv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
